:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --sub-text-color: #fff;
  --accent-color: red;
  --checkbox-color: #10a1f2;

  --main-text-color: #000;

  --first-brand-color: #914e2e;
  --second-brand-color: #dbd6d4;
  --third-brand-color: #272727;
  --fourth-brand-color: #e9e3dc;
  --line-color: #d2cbc7;

  --main-font: 'Open Sans Condensed';
  --title-font:  'Roboto';

  font-size: 62.5%;
}
